<div class="container">
  <form class="jumbotron">
      <h3 class="display-4">Verifica email</h3>
      <div class="form-group">
        <label for="email">Email:</label>
        <input name="email" #newEmail class="form-control">
      </div>
      <div class="form-group">
        <label for="object">Oggetto:</label>
        <input name="object" #newOggetto class="form-control">
      </div>
      <div class="form-group">
        <label for="message">Messaggio:</label>
        <input name="message" #newMessaggio class="form-control">
      </div>
      <button>
        invia
      </button>
    </form>
  </div>